<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>account_id</key>
	<string>u08e94095</string>
	<key>api_token</key>
	<string>fmu1-08e94095-4f36189c73a075986f1a3739985f640c-0-c016f2af4be5c0d1fc9330ce962e8a20</string>
</dict>
</plist>
